body {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 16px;
      line-height: 1.4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f2f2f2;
  }

  strong {
      font-weight: bold;
  }

  button {
      cursor: pointer;
      border: none;
      background-color: #6b9fff;
      color: white;
      border-radius: 50px;
      padding: 10px 20px;
      font-size: 16px;
  }

  button:hover {
      background-color: #588bf7;
  }

  .container {
      background: white;
      width: 360px;
      height: 330px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 10px;
  }

  .container h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333333;
      text-align: center;
  }

  .container .description {
      font-size: 17px;
      margin: 10px 0;
      color: #666666;
  }

  .container .answer {
      display: flex;
      gap: 10px;
  }

  .container .answer input {
      width: 220px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #dddddd;
      font-size: 16px;
  }

  .error-text {
      color: red;
      font-size: 17px;
  }

  .result {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .result h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333333;
      width: 100%;
      text-align: left;
  }

  .result .result-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      height: 30px;
      color: #333333;
  }

  .result button {
      width: 150px;
      margin: 0 auto;
  }
