@keyframes fontAnimation {
    0%, 100% { font-size: 100%; }
    50% { font-size: 120%; }
}

#result-head {
    position: relative;
}

#result-head span {
    animation-name: fontAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 0s;
}

#result-board {
    position: absolute;
    top: 235px;
}
